body {
    font-family: "Inconsolata", monospace;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.navbar {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

#about {
  background: url('../images/background-5.png') repeat center center/cover;
  padding-top: 30px;
  padding-bottom:40px;
}
#about-me {
  text-align: justify;
}
#about-me p {
  text-indent: 2em;
}

  .box {
    background-color: #212529cc;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }

  #banner {
    display: none;
  }
  .circle-container {
    position: relative;
    margin: 2em auto;
    width: 350px;
    height: 350px;
  }
  
  .circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 3px solid #1E90FF;
    border-bottom: 3px solid #28A745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border-left: 2px solid #1E90FF;
    border-right: 2px solid #28A745;
    object-fit: cover;
    position: absolute;
    animation: borderColorChange 5s ease-in-out infinite; /* Apply border color change animation */
  }
  @keyframes borderColorChange {
    0% {
        border-left-color: #1E90FF; /* Initial color for the top border */
        border-right-color: #28A745; /* Initial color for the bottom border */
    }
    50% {
        border-left-color: #28A745; /* Color for the top border halfway through */
        border-right-color: #1E90FF; /* Color for the bottom border halfway through */
    }
    100% {
        border-left-color: #1E90FF; /* Initial color for the top border */
        border-right-color: #28A745; /* Initial color for the bottom border */
    }
}
  
  .skill {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 0.8em;
    padding: 0.3em 0.6em;
    border-radius: 10px;
    color: #ffffff;
    border: 1px solid #ffad1e;
    box-shadow: 0 0 5px #ffad1e;
    font-family: "JetBrains Mono", monospace;
  }
  
  .circle-image-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .circle-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5em;
  }
  
  .svg-wrapper p {
    font-size: 0.9em;
    color: #ffad1e;
  }

.skill.customers {
    background-color: #28A745;
}

.skill.solutions {
    background-color: #1E90FF;
}
.solutions .circle-img {
    border: 2px solid #1E90FF;
}
.customers .circle-img {
    border: 2px solid #28A745;
    margin-bottom: 0;
}

.svg-wrapper {
    position: absolute;
    width: 80px;
    height: 80px;
}

.svg-arrow-1 {
    top: 40%;  /* Adjust top position for first arrow */
    left: 16%; /* Adjust left position for first arrow */
}

.svg-arrow-2 {
    top: 40%;  /* Adjust top position for second arrow */
    right: 16%; /* Adjust left position for second arrow */
}

@keyframes colorChange {
  0% {
      stroke: #1E90FF; /* Initial color for the first arrow */
  }
  50% {
      stroke: #28A745; /* Color for the first arrow halfway through */
  }
  100% {
      stroke: #1E90FF; /* Initial color for the first arrow */
  }
}

@keyframes colorChange2 {
  0% {
      stroke: #28A745; /* Initial color for the second arrow */
  }
  50% {
      stroke: #1E90FF; /* Color for the second arrow halfway through */
  }
  100% {
      stroke: #28A745; /* Initial color for the second arrow */
  }
}

.svg-wrapper {
  position: absolute;
  width: 80px;
  height: 80px;
}

.svg-arrow-1 path {
  animation: colorChange 5s ease-in-out infinite; /* Apply color change animation to the path */
}

.svg-arrow-2 path {
  animation: colorChange2 5s ease-in-out infinite; /* Apply color change animation to the path */
}

/* Projects */

#projects{
  color: #ffffff;
  margin-top: 20px;
}



/* Mobiles */

@media only screen and (min-width: 500px) {
  #banner {
    display: block;
  }
}

@media (min-width: 1024px) {
  .circle-container {
    width: 470px;
    height: 470px;
  }
  .circle-img {
    width: 150px;
    height: 150px;
  }
  .center-image {
    width: 120px;
    height: 120px;
  }
  .svg-wrapper.svg-arrow-2 {
    right: 20%;
  }
  .svg-wrapper.svg-arrow-1 {
    left: 20%;
  }
}

