body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .circle-container {
    position: relative;
    margin: 2em auto;
    width: 500px;
    height: 500px;
  }
  
  .circle {
    position: relative;
    width: 100%;
    height: 100%;
    border-top: 3px solid #1E90FF;
    border-bottom: 3px solid #28A745;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .center-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border-top: 2px solid #1E90FF;
    border-bottom: 2px solid #28A745;
    object-fit: cover;
    position: absolute;
  }
  
  .skill {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
    padding: 0.3em 0.6em;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
  }
  
  .circle-image-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .circle-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5em;
  }
  
  .circle-image-wrapper p {
    margin: 0;
    font-size: 1em;
    color: #ffffff;
    padding: 0.3em 0.6em;
    border-radius: 10px;
    width: fit-content;
  }
.customers p {
  margin-left: -55px;
}
.skill.customers, .customers p {
    background-color: #28A745;
}
.solutions p {
  float: right;
}
.solutions p, .skill.solutions {
    background-color: #1E90FF;
}
.solutions .circle-img {
    border: 2px solid #1E90FF;
}
.customers .circle-img {
    border: 2px solid #28A745;
    margin-bottom: 0;
}

.svg-wrapper {
    position: absolute;
    width: 80px;
    height: 80px;
}

.svg-arrow-1 {
    top: 43%;  /* Adjust top position for first arrow */
    left: 22%; /* Adjust left position for first arrow */
}

.svg-arrow-2 {
    top: 43%;  /* Adjust top position for second arrow */
    right: 22%; /* Adjust left position for second arrow */
}

  
  
  